@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}


.dark .dark\:bg-grid {
    background-image: linear-gradient(rgba(20, 20, 20, .7), transparent .1em), linear-gradient(90deg, rgba(20, 20, 20, .7), transparent .1em);
    background-size: 6em 6em;
}

.bg-grid-light {
    background-image: linear-gradient(rgba(215, 215, 215, 0.7), transparent .1em), linear-gradient(90deg, rgba(215, 215, 215, 0.7), transparent .1em);
    background-size: 6em 6em;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: #555;
}

*::-webkit-scrollbar-thumb {
background-color: #222;
border-radius: 20px;
}

.dark .dark\:blue-gradient {
    background: linear-gradient(45deg, #21FFF2, #00A3FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dark .dark\:purple-gradient {
    background: linear-gradient(45deg, #FF52C4, #E649FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dark .dark\:orange-gradient {
    background: linear-gradient(45deg, #FFB155, #FFF849);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dark .dark\:bg-orange-gradient {
    background: linear-gradient(45deg, #ffb055ba, #fff949b6);
}

.bg-gray-gradient {
    background: linear-gradient(to top,#000000d7 40%, #000000b9);
}